    body{
        background-color: pink;
    }
    h1{
        text-align: center;
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 70px;
    }
    p{
        margin-top: 0;
        text-align: center;
    }
    .form{
        width: 450px;
        height: 550px;
        margin: auto;
        background-color: rgb(71, 193, 193);
        border-radius: 20px;
    }
    h2{
        text-align: center;
        margin-bottom: 40px;
        padding-top: 30px;
        font-size: 40px;
        font-family: monospace;
        color: red;
    }
    input{
        margin-left: 60px;
        width: 300px;
        height: 30px;
        border-radius: 10px;
        border: 1px black solid;
        font-family: monospace;
    }
    button{
        margin-top: 50px;
        margin-left: 150px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;
        background-color: aqua;
        font-family: monospace;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(104, 234, 234);
    }
    button a{
        text-decoration: none;
        color: black;
    }
    button a:hover{
        background-color: rgb(104, 234, 234);
    }

    @media (max-width:1100px) {

    }
    @media (max-width:944px){

    } 
    @media (max-width:776px){

    } 
    @media (max-width:660px){
        .form{
            height: 530px;
        }
        button{
            margin-top: 30px; 
        }
        
    } 
    @media (max-width:500px){
    .form{
        height: 520px;
        width: 400px;
    }
    button{
        margin-top: 30px;
        margin-left: 120px;
    }
    } 
    @media (max-width:344px){
        .form{
            width: auto;
            height: 500px;
        }
        input{
            margin-left: 20px;
            width: 275px;
            
        }
        button{
          margin-left: 90px;
          margin-top: 20px;
        }
    } 